* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(255, 217, 231);   
}


body {
    font-family: 'Gabriela', serif; 
    text-align: center;
    color: rgb(189, 65, 112);
    background-color:rgb(148, 33, 77);
}


header {
    background-color: rgb(148, 33, 77);
    background-image: url('foodimgs/firstcatercustomer.JPG');
    background-repeat: no-repeat;
    background-position: 50% 60%; 
    margin: 0 auto;
    padding-top: 60px;
    width: 100%;
    font-size: 30px;
    height: 240px;
    position: relative;
    z-index: 0;
}

header.header h1 {
    border: 5px solid rgb(197, 119, 149);
    border-radius: 30%;
    background-size: auto;
    width: 450px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 53px;
    letter-spacing: 0.1em;
}

header.header p {
    background-color: rgb(148, 33, 77);
    border-radius: 0px 0px 15px 15px;
    width: 335px; 
    height: 40px;
    padding: 8px;
    font-size: 15px;
    font-weight: 900;
    color:rgb(255, 217, 231);
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2; 
}

header.header p:hover {
    color:rgb(148, 33, 77);
    background-color:rgb(255, 217, 231);
    border: 5px solid rgb(197, 119, 149);
    border-radius: 20px 0px 0px 20px;
    padding: 17px;
    width: 350px;
    height: 70px;
    font-style: italic;
    font-size: 15px;
}


main {
    border: 5px solid rgb(255, 217, 231);
    padding-bottom: 200px;
    border-radius: 20px 20px 0 0;
}

nav {
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(189, 65, 112);
    border-radius: 10px 10px;
    font-size: large;
    height: 70px;
    bottom: 5px;
}

nav span {
    background-color: rgb(189, 65, 112);
    position: relative;
    margin: 30px auto;
    padding: 10px;
    top: 20px;
    font-size: 30px;
    color: rgb(255, 217, 231);
}

a.nav {
    background-color: rgb(189, 65, 112);
    color: rgb(255, 217, 231);
    position: relative;
    bottom: 2px;
    padding: 10px;
}

a.nav:hover {
    background-color: rgb(224, 126, 164);
    color: rgb(255, 217, 231);
}


.intro { 
    width: 1350px;
    height: 250px;
    font-size: 20px;
    margin: 20px auto;
    padding-top: 20px;
    border-radius: 50px 50px 30px 30px;
    border-bottom: 35px solid rgb(189, 65, 112);
}

.intro h2 {   
    padding-top: 30px;
}

.intro p {
    margin-top: 5px;
    padding-top: 50px;
    font-size: 25px;
    line-height: 1.4;
}


.photos {
    width: fit-content;
    margin: 10px auto;
    height: 700px;
}

.collage {
    position: sticky;
    top: 150px;
    z-index: 1;
}

.inline {
    display: inline-block;
}

figure {
    background-color:rgb(255, 217, 231);
    padding: 20px;
    height: 420px;
    width: 400px;
}

figure:hover {
    border: 4px solid rgb(218, 126, 161);
    border-radius: 40px;
}

figcaption {
    font-weight: bold;
}


.menu table {
    color:rgb(255, 217, 231);
    margin: 0 auto;
    height: 300px;
    width: 900px;
}

table.menu th,
table.menu td {
    border: 1px solid rgb(255, 217, 231) ;
    background-color:rgb(192, 88, 128);
}

table.menu th {
    font-size: 60px;
    height: 70px;
    border: 4px solid rgb(224, 126, 164);
    border-radius: 15px;
    letter-spacing: 0.5em;
}

tr.menusize td {
    border: 5px solid rgb(224, 126, 164);
    border-radius: 0px 0px 30px 30px;
    margin: 0 auto;
    font-size: 30px;
    height: 60px;
}

tr.dish td {
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: 3px;
    border: 2px solid rgb(224, 126, 164);
    background-color: rgb(253, 245, 248);
    color: rgb(148, 33, 77);
}

img.menpic {
    width: 300px;
    height: 200px;
}


footer {
    background-color:rgb(148, 33, 77);
    height: 70px;
    width: 100%;
    padding-top: 25px;
    margin-top: 100px;
    font-size: 16px;
    color: rgb(255, 217, 231);
}

footer a,
footer h3 {
    background-color:rgb(148, 33, 77);
}

footer a {
    color:rgb(255, 217, 231);
    padding-bottom: 10px;
    font-size: 25px;
}

footer a:hover {
    background-color:rgb(250, 221, 231);
    color:rgb(148, 33, 77);
    padding: 0;
    border: 3px solid rgb(148, 33, 77);
    border-radius: 8px;
}

footer h3 {
    font-size: 30px;
    padding-bottom: 3%;
}



