body {
    background: linear-gradient(60deg, #9e1b98, #252fb6);
    color:aliceblue;
}

#photo {
    background-image: url('imgs/richmondlowes.JPG');
    background-position: center;
}


header {
    text-align: center;
    width: 330px;
    margin: auto;
}

h1 {
    font-size: 50px;
    background-color: #b6baee;
    border: 3px solid rgb(187, 220, 233);
    border-radius: 40px;
}

h3.location{
    font-size: 30px;
    background-color: #c2c5ee;
    border: 3px solid rgb(187, 220, 233);
    border-radius: 40px;
}

#self {
    border: 3px solid rgb(187, 220, 233)
    width;
}


main {
    border: 1px solid rgb(187, 220, 233);
    width: 500px;
    margin: auto;

}


.intro {
    text-align: center;
    border: 2px solid rgb(187, 220, 233);
    border-radius: 30px;;

}


.doc {
    text-align: center;
    border: 2px solid rgb(187, 220, 233);
    border-radius: 30px;
}


section.prog {
    text-align: center;
    border: 2px solid rgb(187, 220, 233);
    border-radius: 30px;
}

.prog ul {
    text-align: center;
}


section.plans {
    text-align: center;
    border: 2px solid rgb(187, 220, 233);
    border-radius: 30px;
}


.cal {
    text-align: center;
}

table.cal {
    border: 2px solid rgb(187, 220, 233);
    margin: auto;
}


.footer {
    text-align: center;
    margin: auto;
    border: 2px solid rgb(187, 220, 233);
    width: 500px;
}